.cart {
    position: absolute;
    width: 100%;
    max-width: 30px;
    top: 20px;
    right: 23%;
    font-size: 25px;
    color: white;
    transition: color 200ms ease-out 0.2s;
  }
  
  .cart:hover {
    color: #4caf50;
  }
  
  @media screen and (max-width: 991px) {
    .cart {
      left: 20px;
    }
  }
  
  .cart .cartIcon {
    height: 25px;
  }
  
  .cart span {
    position: absolute;
    top: -10px;
    right: -15px;
    height: 18px;
    width: 18px;
    line-height: 18px;
    background-color: #4caf50;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.2s 0s;
    -moz-transition: -moz-transform 0.2s 0s;
    transition: transform 0.2s 0s;
  }
  
  @media screen and (max-width: 991px) {
    .cart span {
      left: 20px;
    }
  }