.sliderShirt{
    position: relative;
    display: block;
    height: auto;
    margin-bottom: 100px;
}

.sliderShirt .slick-dots li button:before{
    font-size: 15px;
    margin-top: 10px;
}
.product-card {
    position: relative;
    display: block !important;
    width: 100%;
    max-width: 380px;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 0 auto;
    background: #fafafa;
    min-height: 500px;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #990000;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
    min-height: 260px;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

.product-bottom-details div {
    float: left;
    width: 100%;
}

.product-price {
    font-size: 18px;
    color: #990000;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #990000;
}

.btnDetalle{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: black;
    border-color: black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

.btnDetalle:hover{
    background-color: #990000;
    border-color: #990000;
    color: #ffffff;
}

.slideTitle{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    min-height: 40px;
}