body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pt-25vh{
  padding-top: 15vh;
}

.w-90{
  width: 90% !important;
}

.btn-default{
  display: block;
  width: 150px;
  height: 35px;
  max-width: 150px;
  line-height: 33px;
  padding: 0;
  border: 2px solid #898989;
  color: #898989;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  margin: 0 auto;
  margin-top: 20px;
  transition: all ease-in-out 0.3s;
  background-color: #990000;
  color: white;
  border: none;
  text-align: center;
}

.btn-default:hover{
  background-color:black;
  color: #ffffff;
  text-decoration: none;
}

:focus {
  outline: none;
}